body {
    background-color:#eeeeee;
    /*min-width: 1000px;*/
}

footer {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background: #eeeeee;
    border-top: 5px double #dddddd;
    font-family: arial, sans-serif;
    /*display: table;*/
    text-align: center;
    color: #888888;
}

.footer-copyright{
    display: inline-block;
}

/**/
/*Title Area*/
/**/

.title_area {
    /*font-family: Arial, serif;*/
    width: 100%;
    min-width: 800px;
    padding: 4px;
    /*margin: 0 20px 0 0;*/
    border-bottom: 5px double #dddddd;
    /*overflow: hidden;*/
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo_area {
    width: 170px;
    height: 100%;
    float: left;
    display: table;
    text-align: center;
    margin-right: 70px;
}

.logo_text{
    display: table-cell;
    vertical-align: middle;
    color: #dd0000;
    font-family: Lobster;
    font-size: 20pt;
    /*text-decoration: underline;*/
}

.login_area {
    width: 200px;
    height: 20px;
    margin: 3px 15px 0 0;
    float: right;
    color: #FFF;
    display: table;
    text-align: center;
}

.login-button{
    background: #2a91e8;
    color: #FFFFFF;
    height: 29px;
    width: 150px;
    float: right;
    display: table;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border: 1px double #888888;
    border-radius: 3px;
}

.login-button:hover{
    background: #2780cc;
}

.login-button:active{
    position: relative;
    top: 1px;
}

.login-text{
    display: table-cell;
    vertical-align: middle;
}

.login_area #account_icon{
    height: 29px;
    float: right;
    display: table-cell;
    vertical-align: middle;
    margin-top: 2px;
    cursor: pointer;
}

.arrow_box {
    font-family: arial, sans-serif;
    position: fixed;
    top: 50px;
    right: 12px;
    background: #ffffff;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    height: 82px;
    width: 220px;
    display: none;
}

.arrow_box a{
    text-align: left;
    float: left;
    margin-top: 5px;
    margin-left: 7px;
}
.arrow_box_active{
    display: block;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 91%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 12px;
    margin-left: -12px;
}

.arrow_box:before {
    border-color: rgba(170, 170, 170, 0);
    border-bottom-color: #aaaaaa;
    border-width: 15px;
    margin-left: -15px;
}

.sign-out-area {
    border: 1px solid #aaaaaa;
    background: #eee;
    border-radius: 3px;
    padding: 4px;
    width: 70px;
    display: table;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: 5px;
    left: 141px;
}

.sign-out-area:hover {
    background: #dddddd;
}

.sign-out-text {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    display: table-cell;
    text-align: center;
}

.search_area {
    width: auto;
    max-width: 600px;
    height: 100%;
    margin: 3px 0 0 0;
    /*padding: 5px;*/
    color: #FFF;
    overflow: hidden;
    display: block;
}

.input_area {
    width: auto;
    float: none;
    overflow: hidden;
    display: block;
}

.input_area #keyword_input {
    float: none;
    width: 100%;
    height: 29px;
    font-size: 14pt;
    display: inline-block;
    margin: 0;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index:1001 !important;
}

.button_area {
    width: 60px;
    float: right;
    display: block;
    overflow: hidden;
}

.search_button {
    height: 29px;
    width: 50px;
    float: right;
    margin: 0;
    display: table;
    cursor: pointer;
    text-align: center;
    background: #eee;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    border-radius: 0 3px 3px 0px;
}

.search_button:hover{
    background: #dddddd;
}

.search_button:active{
    position: relative;
    top: 1px;
}

.search_button_image {
    height: 14px;
    /*width: 14px;*/
    /*text-indent: -10000px;*/
    /*background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflfYirgG.webp) 0 -1243px;*/
    display: table-cell;
    vertical-align: middle;
    font-size: 11pt;
    color: #000000;
    /*background: white;*/
}

/**/
/* Main area */
/**/
.main_area{
    font-family: Arial, serif;
    max-width: 1100px;
    min-width: 900px;
    height: 100%;
    /*padding: 10px;*/
    background: white;
    overflow: hidden;
    margin: 52px auto 0 auto;
}

/* Right Column*/
.right_column {
    width: 400px;
    float: right;
}

.result_type{
    height: 15px;
    margin: 17px 13px 7px 10px;
    font-family: Verdana,serif;
    color: #444444;
}

/*Search Results*/
.search_results {
    width: 100%;
    margin: 0 5px;
    /*padding: 10px;*/
    /*float: right;*/
    background: #ffffff;
    color: #FFF;
}

.result_list{
    padding: 0;
    margin: 0;
    display: none;
    list-style: none;
}

.list_item{
    height: 68px;
    padding: 0;
    margin: 0 0 15px 0;
    position: relative;
}

.search_results a{
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 0 5px;
    display: block;
    overflow: hidden;
    color: #333;
    zoom: 1;
}

.image_span{
    float: left;
    margin: 0 8px 0 0;
    height: 68px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.image_span image{
    position: relative;
    top: -11px;
}

.image_span span{
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: .75;
    vertical-align: top;
    zoom: 1;
    display: inline-block;
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.video_title{
    display: block;
    line-height: 1.2;
    max-height: 2.4em;
    margin-bottom: 1px;
    overflow: hidden;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    vertical-align: top;
}

.video_owner{
    color: #999;
    line-height: 1.4em;
    white-space: nowrap;
    font-size: 11px;
}

.view_count{
    color: #999;
    font-size: 11px;
    display: block;
    line-height: 1.4em;
    height: 1.4em;
    white-space: nowrap;
}

/* Left Column*/
.left_column {
    width: auto;
    float: none;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.video_name_area{
    height: 28px;
    max-height: 28px;
    display: table;
    text-align: center;
    margin: 5px;
    overflow: hidden;
}

#video_name{
    max-height: 28px;
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, serif;
    font-size: 18pt;
    overflow: hidden;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 5px;
    border-top: 1px solid #dddddd;
    background: #444444;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**/
/*Radio Button*/
/**/
div.radio-group {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
    display: inline-block;
    width: 356px;
    overflow: hidden;
}

div.radio-group input {
    display: none;
}

div.radio-group label {
    width: 60px;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    float: left;
    border: solid 1px #aaa;
    margin-left: -1px;
    background: #eee;
}

div.radio-group div:first-child label {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
}
div.radio-group div:last-child label {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
}
div.radio-group input:checked+label {
    color: #fff;
    background: #C3C3C3;
}

.slider-area {
    width: 470px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    height: auto;
    margin-top: 15px;
}

/**/
/*Player Buttons*/
/**/
.playerbutton-area{
    display: inline-block;
}

.playerbutton-area div:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.playerbutton-area div:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.playerbutton {
    float: left;
    cursor: pointer;
    margin: 2px -1px;
    border: 2px solid #888;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.playerbutton:active {
    position: relative;
    top: 1px;
}

.fwdRwdButton {
    color: #ffffff;
    background: #3498db;
}

.fwdRwdButton:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.playButton {
     color: #ffffff;
     background: #02c658;
 }

.playButton:hover {
    background: #02e462;
    background-image: linear-gradient(to bottom, #02e462, #02cd5e);
}

.pauseButton {
    color: #ffffff;
    background: #ec5900;
}

.pauseButton:hover {
    background: #ff5b00;
    background-image: linear-gradient(to bottom, #ff5b00, #e55400);
}

.repeatDisabled{
    color: #aaaaaa;
    background: #666666;
}

.repeatEnabled {
    /*color: #ff803b;*/
    color: #ffffff;
    background: #f2c700;
}

.repeatEnabled:hover {
    background: #ffd400;
    background-image: linear-gradient(to bottom, #ffd400, #f0c600);
}

/**/
/* Loop Settings*/
/**/
.loop-setting-area{
    width: 480px;
    display: inline-block;
}

.loop-setting-text-area{
    height: 70px;
    width: 100px;
    display: table;
    text-align: center;
}
.loop-setting-text {
    margin: 26px 0px 0px 38px;
    font-family: arial, sans-serif;
    font-size: 13pt;
    float: left;
    display: table-cell;
    vertical-align: middle;
}

.loop-setting-button{
    height: 70px;
    cursor: pointer;
    margin: 2px -1px;
    border: 2px solid #888;
    color: #ffffff;
    background: #f2c700;
    display: table;
    text-align: center;
}

.loop-setting-button:hover {
    background: #ffd400;
    background-image: linear-gradient(to bottom, #ffd400, #f0c600);
}

.loop-setting-button:active{
    position: relative;
    top: 1px;
}

.loop-setting-button-text {
    display: table-cell;
    vertical-align: middle;
}

.loop-start-button {
    float: left;
}

.loop-stop-button {
    float: right;
}

.loop-fwdrwd-button {
    width: 50px;
    font-size: 20pt;
    /*font-weight: bold;*/
}

.loop-set-button{
    font-size: 11pt;
    width: 60px;
}

.loop-start-setting-area{
    /*margin-left: 15px;*/
}

.loop-start-setting-area div:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.loop-start-setting-area div:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.loop-stop-setting-area{
    margin-left: 15px;
}

.loop-stop-setting-area div:last-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.loop-stop-setting-area div:first-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}